@tailwind base;
@tailwind components;
@tailwind utilities;

/* 나눔스퀘어 폰트 설정 */
@font-face {
  font-family: 'NanumSquareLight';
  font-family: 'NanumSquare';
  font-family: 'NanumSquareBold';
  font-family: 'NanumSquareExtraBold';
}

strong {
  font-family: 'NanumSquareBold';
}

/* 스크롤 설정 */

/* 스크롤바 숨기기 */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 스크롤바 커스텀 (optional) - 필요 시 적용 */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
